certifi~=2022.6.15
iniconfig~=1.1.1
ipython<8.0
ipywidgets~=7.1
matplotlib~=3.5.2
numpy<1.23.1
pandas<1.5
pymysql~=1.0.2
python-dotenv
python_dateutil
pytz~=2024.1
Requests
seaborn~=0.11.2
sqlalchemy~=2.0.32
websocket_client
pytest
urllib3==1.26.10
pipenv